### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a collection of organized data that can be easily accessed, managed, and updated. Databases are used in many applications, including websites, mobile apps, and enterprise systems, to store and retrieve data.

SQL and NoSQL databases are two different types of databases. SQL (Structured Query Language) databases are relational databases that store data in tables with rows and columns. They use SQL to interact with the data and are based on the ACID (Atomicity, Consistency, Isolation, and Durability) properties, which ensure data consistency and reliability.

On the other hand, NoSQL (Not Only SQL) databases are non-relational databases that store data in a variety of formats, including key-value pairs, document-based, graph-based, or column-family stores. They do not use SQL to interact with the data and are often designed to scale horizontally and handle large volumes of unstructured data. NoSQL databases are based on the BASE (Basically Available, Soft state, Eventually consistent) properties, which prioritize availability and partition tolerance over consistency.

Some key differences between SQL and NoSQL databases include:

Data structure: SQL databases use tables with predefined columns and rows, while NoSQL databases can use a variety of data structures depending on the type of database.

Querying language: SQL databases use SQL to interact with the data, while NoSQL databases use their own querying languages or APIs.

Scalability: NoSQL databases are often designed to scale horizontally, meaning they can handle large volumes of data by adding more servers to the database cluster, while SQL databases typically scale vertically by adding more processing power to a single server.

Consistency: SQL databases prioritize data consistency and use transactions to ensure that data is always in a valid state, while NoSQL databases prioritize availability and may sacrifice consistency for performance.

Both SQL and NoSQL databases have their own strengths and weaknesses, and the choice of database type depends on the specific requirements of the application.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL stands for Data Definition Language, which is a set of SQL statements used to define and manage the structure of database objects such as tables, indexes, and constraints.

The following are some of the commonly used DDL statements:

CREATE: The CREATE statement is used to create a new database object such as a table, view, index, or constraint. For example, to create a new table named "customers" with columns for "id", "name", and "email", you can use the following SQL code:

SQL

In [ ]:
CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(50)
);

DROP: The DROP statement is used to delete an existing database object such as a table, view, index, or constraint. For example, to drop the "customers" table that we created earlier, you can use the following SQL code:

In [ ]:
DROP TABLE customers;

ALTER: The ALTER statement is used to modify an existing database object such as a table, view, index, or constraint. For example, to add a new column named "phone" to the "customers" table that we created earlier, you can use the following SQL code

In [ ]:
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

TRUNCATE: The TRUNCATE statement is used to delete all the data from a table, but not the table itself. This statement is useful when you want to delete all the records in a table without deleting the table structure. For example, to delete all the records in the "customers" table that we created earlier, you can use the following SQL code:

In [ ]:
TRUNCATE TABLE customers;

In summary, DDL statements are used to define, modify, and delete database objects such as tables, views, indexes, and constraints. The CREATE statement is used to create new objects, the DROP statement is used to delete existing objects, the ALTER statement is used to modify existing objects, and the TRUNCATE statement is used to delete all the data from a table.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML stands for Data Manipulation Language, which is a set of SQL statements used to manipulate data stored in the database. The following are some of the commonly used DML statements:

INSERT: The INSERT statement is used to add new data to a table. For example, to add a new record to the "customers" table that we created earlier, you can use the following SQL code:

In [ ]:
INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'johndoe@example.com');

This statement adds a new record with an ID of 1, a name of 'John Doe', and an email of 'johndoe@example.com' to the "customers" table.

UPDATE: The UPDATE statement is used to modify existing data in a table. For example, to update the email address of the customer with an ID of 1 to 'john.doe@example.com', you can use the following SQL code:

In [ ]:
UPDATE customers SET email = 'john.doe@example.com' WHERE id = 1;

This statement updates the email address of the customer with an ID of 1 to 'john.doe@example.com'.

DELETE: The DELETE statement is used to remove data from a table. For example, to delete the record of the customer with an ID of 1 from the "customers" table, you can use the following SQL code:

In [ ]:
DELETE FROM customers WHERE id = 1;

This statement removes the record of the customer with an ID of 1 from the "customers" table.

In summary, DML statements are used to manipulate data stored in the database. The INSERT statement is used to add new data to a table, the UPDATE statement is used to modify existing data in a table, and the DELETE statement is used to remove data from a table.

### Q4. What is DQL? Explain SELECT with an example.

A4. DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. The SELECT statement is the most commonly used DQL statement and is used to query data from one or more tables.

The SELECT statement has the following basic syntax:

In [ ]:
SELECT column1, column2, ... FROM table1 WHERE condition;

Where:

column1, column2, ... : the columns of data you want to retrieve.
table1 : the table from which you want to retrieve the data.
condition : an optional condition that filters the data to be retrieved.
For example, consider a table named "employees" with columns for "id", "name", "age", and "salary". To retrieve the names and ages of all employees with a salary greater than or equal to 50000, you can use the following SQL code:

In [ ]:
SELECT name, age FROM employees WHERE salary >= 50000;

This statement retrieves the "name" and "age" columns from the "employees" table where the "salary" is greater than or equal to 50000.

You can also use functions and aggregate functions in the SELECT statement to perform calculations or summarize data. For example, to calculate the average salary of all employees in the "employees" table, you can use the following SQL code:

In [ ]:
SELECT AVG(salary) FROM employees;

This statement calculates the average salary of all employees in the "employees" table.

In summary, DQL statements are used to retrieve data from a database, and the SELECT statement is used to query data from one or more tables.

## Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It is a unique identifier for a record in the table and ensures that each row in the table is unique. A primary key cannot contain null values and must be unique for each record.

For example, consider a table named "customers" that has columns for "id", "name", "email", and "phone". In this case, "id" can be used as a primary key because it uniquely identifies each customer record in the table.

Foreign Key:

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to create a relationship between two tables and ensure data integrity by enforcing referential integrity constraints.

For example, consider two tables named "orders" and "customers". The "orders" table has columns for "id", "customer_id", "product", and "price". The "customer_id" column in the "orders" table can be used as a foreign key to refer to the "id" column in the "customers" table, which is the primary key of the "customers" table. This creates a relationship between the two tables, where each order belongs to a customer in the "customers" table.

In summary, a primary key is a unique identifier for a record in a table, while a foreign key is a column or set of columns in a table that refers to the primary key of another table to create a relationship between the two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
import mysql.connector

# establish a connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM mytable")

# fetch the results
results = mycursor.fetchall()

# print the results
for row in results:
  print(row)
  
# close the connection
mydb.close()

ModuleNotFoundError: No module named 'mysql'

Explanation of cursor() and execute() methods:

cursor() method: This method creates a cursor object that allows you to execute SQL queries on the database. It is called on the database connection object and returns a cursor object.

execute() method: This method is used to execute an SQL query on the database using the cursor object. It takes an SQL query as a parameter and executes it. After the query is executed, you can retrieve the results using various methods like fetchone(), fetchall(), or fetchmany().

In the above code, cursor() method is used to create a cursor object called mycursor, which is used to execute SQL queries on the database. The execute() method is then used to execute an SQL query on the database, which retrieves all the rows from a table named "mytable". Finally, the fetchall() method is used to retrieve all the results from the query execution, which are then printed using a for loop.

Note: Make sure to replace the placeholders with the actual values for the host, user, password, and database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in the following order:

FROM: Specifies the table or tables from which to retrieve the data.

JOIN: Joins multiple tables based on a related column between them.

WHERE: Filters the rows based on a specified condition.

GROUP BY: Groups the rows based on one or more columns.

HAVING: Filters the groups based on a specified condition.

SELECT: Retrieves the specified columns from the selected table(s).

DISTINCT: Removes duplicate rows from the result set.

ORDER BY: Sorts the result set based on one or more columns.

LIMIT: Limits the number of rows returned by the query.

It is important to note that not all clauses are required in an SQL query, and some clauses can be used in a different order depending on the specific requirements of the query. However, the order mentioned above is the most common and standard order of execution of SQL clauses in a query.