### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

my_series = pd.Series([4, 8, 15, 16, 23, 42])

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
import pandas as pd
variable = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(variable)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
import pandas as pd
df = pd.DataFrame()
df['Name']=['Alice','Bob','Claire']
df['Age']=[25,30,27]
df['Gender']=['Female','Male','Female']
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is essentially a table that consists of rows and columns, where each column can be thought of as a Series. A DataFrame can be created from various sources, such as CSV files, databases, or Python data structures like dictionaries or lists.

On the other hand, a Series is a one-dimensional labeled array capable of holding data of any type. It can be created from a variety of data sources, such as lists, tuples, or dictionaries. Each element of a Series is associated with a label called an index, which can be used to access the elements of the Series.

Here's an example that shows the difference between a DataFrame and a Series:

In [11]:
import pandas as pd


data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Country': ['USA', 'Canada', 'UK']}


df = pd.DataFrame(data)


age_series = df['Age']


print(df)
print(age_series)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK
0    25
1    30
2    35
Name: Age, dtype: int64

As you can see, the DataFrame is a table with rows and columns, while the Series is a one-dimensional labeled array. In this example, we created a DataFrame from a dictionary and then extracted a Series from one of its columns using indexing. We can access the elements of the DataFrame and the Series using different indexing methods. For example, we can access a specific element of the DataFrame using df.loc[row_index, col_index] and access a specific element of the Series using series.loc[index].

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

There are many functions available in Pandas that can be used to manipulate data in a DataFrame. Some of the common functions are

1. head() and tail(): These functions are used to display the first and last n rows of the DataFrame respectively. For example, df.head() will display the first 5 rows of the DataFrame df.

2. describe(): This function is used to display the descriptive statistics of the DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartiles of each numerical column. For example, df.describe() will display the descriptive statistics of the DataFrame df

3. sort_values(): This function is used to sort the data in the DataFrame based on one or more columns. For example, df.sort_values('Age', ascending=False) will sort the data in the DataFrame df in descending order based on the 'Age' column.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, while Panel is deprecated in version 1.0.0 and later. This means that the elements of a Series or DataFrame can be modified using various methods and operations. However, it is important to note that some operations on a DataFrame may create a new DataFrame instead of modifying the existing one. For example, the drop() function does not modify the original DataFrame, but instead returns a new DataFrame with the specified columns or rows removed.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can use the pd.DataFrame() function and pass a dictionary of Series objects as input. Each Series in the dictionary will become a column in the resulting DataFrame, with the dictionary keys becoming the column names.

Here's an example:

In [12]:
import pandas as pd

# create three Series objects
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Male'])

# create a dictionary of Series objects
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# display the resulting DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male